<div class="signup-div">
<h1> Sign-Up Page! </h1>


<% if flash[:new_user_errors] %>
    <% flash[:new_user_errors].each do |error| %>
        <p style="color:red"><strong><%= error %></strong></p>
    <% end %>
<% end %><br>


<%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
<br><br>
    <%= f.label :username %>
    <%= f.text_field :username %>
<br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
<br><br>
    <%= f.submit "Sign-Up! :)" %>

<% end %>


<p><%= link_to 'Sign Up', new_stylist_path %> as a stylist!</p>

</div>