<h1><%= @user.name %></h1>


<% if @current_user.id == @user.id %>


    <h1>Appointments:</h1>
    <ul>
        <% @user.appointments.each do |appointment| %>
            <li>With <%= link_to appointment.stylist.name, stylist_path(appointment.stylist) %> at <%= link_to appointment.date.strftime("%D - %r"), appointment_path(appointment) %> 
            
            <% if appointment.reviews.blank? %>
                <strong> How was it? Leave a review! :) </strong>
            <% end %>


            </li>
        <% end %>
    </ul>

    <hr>


        <p> Option to Edit Review Statements </p>


<% end %>




<h2> Reviews: </h2>

<ul>
<% @user.reviews.each do |review| %>
    <li>
    <p><strong>Stylist:</strong> <%= review.appointment.stylist.name %></p>
    <p><strong>Style Done:</strong> <%= review.appointment.style.name %></p>
    <p> <strong>Comment:</strong> <%= review.comment %> </p>
    <p> <strong>Rating:</strong> <%= review.rating %> </p>
    </li><br>
<% end %>
</ul>






