<div class="user-show-div">


<h1><%= @user.name %></h1>



<% if @current_user %>

<% if @current_user.id == @user.id %>


    <h1>Upcoming Appointments:</h1>
        <ul>
            <% @user.appointments.each do |appointment| %>
                    <% if !appointment.appointment_in_past? %>
                        <li>
                        With <%= link_to appointment.stylist.name, stylist_path(appointment.stylist) %> at <%= link_to appointment.date.strftime("%D - %r"), appointment_path(appointment) %> 
                        </li>
                    <% end %>
            <% end %>
        </ul>
                                                            <% no_past_appointments = [] %>
    <h1>Past Appointments:</h1>
        <ul>
        <% @user.appointments.each do |appointment| %>
                <% if appointment.appointment_in_past? %>
                                                            <% no_past_appointments << appointment %>
                    <li>
                    With <%= link_to appointment.stylist.name, stylist_path(appointment.stylist) %> at <%= link_to appointment.date.strftime("%D - %r"), appointment_path(appointment) %>                    
                        <% if appointment.reviews.blank? %>
                            <strong> How was it? Leave a review! :) </strong>
                        <% end %>
                    </li>
                <% end %>
        <% end %>
                                                            <% if no_past_appointments.empty? %>
                                                                    <p> None <p>
                                                            <% end %>
        </ul>


<% end %>

<% end %>




<% if @user.reviews.present? %>
    <hr>
    <h2> Reviews: </h2>
    <ul>
    <% @user.reviews.each do |review| %>
        <li>

                <% ss = review.appointment.stylist.stylist_styles.find_by(style: review.appointment.style)  %>  
            <%= image_tag ss.style_img_url %><br><br>

        <p><strong>Stylist:</strong> <%= review.appointment.stylist.name %></p>
        <p><strong>Style Done:</strong> <%= review.appointment.style.name %></p>
        <p> <strong>Comment:</strong> <%= review.comment %> </p>
        <p> <strong>Rating:</strong> <%= review.rating %> </p>
        </li><br>
    <% end %>
    </ul>

<% end %>







</div>