<h1><%= @style.name %></h1>

<ul>
    <% @style.stylist_styles.each do |ss| %>
    <li><b>Stylist: </b><%= link_to ss.stylist.name, stylist_path(ss.stylist) %> - <b>Price: </b>$<%= ss.price %> </li>
    <%= image_tag ss.style_img_url %><br><br>
    <% end %>
</ul>

<hr>


<h2>Create an Appointment for <%= @style.name %></h2>

<% if flash[:my_appointment_errors] %>
    <% flash[:my_appointment_errors].each do |error| %>
        <p style="color:red"><strong><%= error %></strong></p>
    <% end %>
<% end %><br>

<%= form_for @appointment, url: appointments_path, method: :post do |f| %>

    <%# CHANGE hidden field so we can add an appointment to stylist from the stylist#  %>
    <%= f.label :stylist_id %>
    <%= f.collection_select :stylist_id, @style.stylists, :id, :name %>
    <br>
        <%= f.hidden_field :style_id, value: @style.id %>
    <br>
    <%= f.label :date %>
    <%= f.datetime_field :date, min: Date.today %>
    <%= f.submit %>

<% end %>