<div class="stylist-signup-div">
<h1> Stylist Sign-Up Page! </h1>


<% if flash[:new_stylist_errors] %>
    <% flash[:new_stylist_errors].each do |error| %>
        <p style="color:red"><strong><%= error %></strong></p>
    <% end %>
<% end %><br>


<%= form_for @stylist do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
<br><br>
    <%= f.label :username %>
    <%= f.text_field :username %>
<br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
<br><br>
    <%= f.submit "Sign-Up! :)" %>

<% end %>

</div>