<div class="stylist-show-div">
<h1 class="stylist-name"><%= @stylist.name %></h1>
<p><b>Rating: </b><%=  @stylist.stylist_rating %></p>

<br>
<% if @current_stylist %>
    <% if @current_stylist.id == @stylist.id %>
    
        <h1>Appointments:</h1>
        <ul>
            <% @stylist.appointments.each do |appointment| %>
                <li>With <%= appointment.user.name %> at <%= appointment.date.strftime("%D - at - %r") %> </li>
            <% end %>
        </ul>
    <hr>
    <% end %>
<% else %>
    <% if @stylist.appointments.present? %>
      
        <h1>Booked On:</h1>
        <ul>
            <% @stylist.appointments.each do |appointment| %>
                <li><%= appointment.date.strftime("%D - at - %r") %> </li>
            <% end %>
        </ul>
    <hr>
    <% end %>

<% end %>

<h1>Styles</h1>
<div class="container">
    <% @stylist.stylist_styles.each do |ss| %>
    <div class="item">
        <ul>
            <li><%= link_to ss.style.name, style_path(ss.style) %> - $<%= ss.price %> </li>
                <a href="<%= style_path(ss.style) %>"><%= image_tag ss.style_img_url %></a><br><br>
        </ul>
    </div>
            <% end %>
</div>
<% if @current_stylist %>
    <% if @current_stylist.id == @stylist.id %>
    <hr>
        <%#= link_to 'Add a New Style', new_stylist_style_path %>
        <a class="add-style" href="<%= new_stylist_style_path %>"><div class="add-style">Add a New Style</div></a>
    <% end %>

<% end %>





<% if @stylist.stylist_reviews.present? %>


<hr>
<h2>Reviews</h2>
<ul>
<%# byebug %>
    <% @stylist.stylist_reviews.each do |review| %>
            <%# reviews_here << appointment.reviews[0] %>
<%# byebug %>

    <li>
        <p class="link-color-match-dots"><strong>User:</strong> <%= link_to review.user.username, user_path(review.user) %></p>
        <p><strong>Style Done:</strong> <%= review.appointment.style.name %></p>
        <p> <strong>Comment:</strong> <%= review.comment %> </p>
        <p> <strong>Rating:</strong> <%= review.rating %> </p>
    </li><br>


    <% end %>
</ul>
  <%# byebug %>

<% end %>




<% if @current_user %>
  
    <hr>
    <h2>Create an Appointment with <%= @stylist.name %></h2>

    <% if flash[:my_appointment_errors] %>
        <% flash[:my_appointment_errors].each do |error| %>
            <p style="color:red"><strong><%= error %></strong></p>
        <% end %>
    <% end %><br>

    <%= form_for @appointment, url: appointments_path, method: :post do |f| %>

        <%# CHANGE hidden field so we can add an appointment to stylist from the stylist#  %>
        <%= f.label :style %>
        <%= f.collection_select :style_id, @stylist.styles, :id, :name %>
        <br>
        <%= f.hidden_field :stylist_id, value: @stylist.id %>
        <br>
        <%= f.label :date %>
        <%= f.datetime_field :date, min: Date.today %>
        <%= f.submit %>

    <% end %>

<% elsif @current_stylist %>

    
<% else %>
<hr>
    <p><%= link_to 'Sign Up!', new_user_path %> or <%= link_to 'Log in!', new_login_path %> to book an appointment!</p>

<% end %>
</div>