<h1><%= @stylist.name %></h1>

<h1>Appointments:</h1>
<ul>
    <% @stylist.appointments.each do |appointment| %>
        <li>With <%= appointment.user.name %> at <%= appointment.date.strftime("%D - %r") %> </li>
    <% end %>
</ul>

<h1>Styles</h1>
<ul>
    <% @stylist.styles.each do |style| %>
    <li><%= style.name %></li>
    <% end %>
</ul>


<%= form_for @stylist, url: appointments_path, method: :post do |f| %>

    <%# CHANGE hidden field so we can add an appointment to stylist from the stylist#  %>
    <%= f.fields_for :appointments, @stylist.appointments.build do |ff| %>
        <%= ff.label :stylist_id, @stylist.name %>
        <%= ff.hidden_field :stylist_id, :value => @stylist.id %>
        <br>
        <%= ff.label :style_id %>
        <%= ff.collection_select :style_id, @stylist.styles, :id, :name %>
        <br>
        <%= ff.label :date %>
        <%= ff.date_field :date, min: Date.today, min: Time.now %>
    <% end %>
    <%= f.submit "Create Appointment" %>
<% end %>