<h1><%= @stylist.name %></h1>

<h1>Appointments:</h1>
<ul>
    <% @stylist.appointments.each do |appointment| %>
        <li>With <%= appointment.user.name %> at <%= appointment.date.strftime("%D - %r") %> </li>
    <% end %>
</ul>

<h1>Styles</h1>
<ul>
    <% @stylist.stylist_styles.each do |ss| %>
    <li><%= ss.style.name %> - $<%= ss.price %> </li>
    <% end %>
</ul>


<hr>

<h2>Create an Appointment with <%= @stylist.name %></h2>

<% if flash[:my_appointment_errors] %>
    <% flash[:my_appointment_errors].each do |error| %>
        <p style="color:red"><strong><%= error %></strong></p>
    <% end %>
<% end %><br>

<%= form_for @appointment, url: appointments_path, method: :post do |f| %>

    <%# CHANGE hidden field so we can add an appointment to stylist from the stylist#  %>
    <%= f.label :style %>
    <%= f.collection_select :style_id, @stylist.styles, :id, :name %>
    <br>
    <%= f.label :stylist_id %>
    <%= f.hidden_field :stylist_id, value: @stylist.id %>
    <br>
    <%= f.label :date %>
    <%= f.datetime_field :date, min: Date.today %>
    <%= f.submit %>

<% end %>